.newHotel {
  width: 100%;
  display: flex;
}

.newHotel__container {
  flex: 6;
}

.newHotel__top,
.newHotel__bottom {
  -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
  box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
  padding: 10px;
  margin: 20px;
  display: flex;
}

.newHotel__bottom {
  padding: 20px 0;
}

.newHotel__top h1,
.newHotel__bottom h1 {
  color: lightgray;
  font-size: 20px;
}

.newHotel__left {
  flex: 1;
  text-align: center;
}

.newHotel__left img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.newHotel__right {
  flex: 2;
  padding: 0 20px;
}

.newHotel__right form {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-between;
}

.newHotel form .selectRooms {
  width: 100%;
}

.newHotel form .selectRooms select {
  width: 100%;
  padding: 10px;
}

.newHotel form .formInput {
  width: 40%;
}

.newHotel form .formInput > label {
  display: flex;
  align-items: center;
  gap: 10px;
}

.newHotel form .formInput > label .icon {
  cursor: pointer;
}

.newHotel form .formInput > input {
  width: 100%;
  padding: 5px;
  border: none;
  border-bottom: 1px solid gray;
}

.newHotel__button {
  width: 150px;
  padding: 10px;
  border: none;
  background-color: teal;
  color: white;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
}
